

.template-container {
    background-image: url("https://media-public.canva.com/MADFF1IWeQM/2/screen.png");
    background-repeat: no-repeat;
    background-size: 600px 600px;
    display: flex;
    width: 400px;
    /* border: 1px solid gray; */
    margin-top: 55px;
    padding:20px;
  }
  .backround-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .card-container {
    width: 320px;
    padding: 10px;
    /* height: 450px; */
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    margin: 0 auto;
  }
  #nav {
    position: relative;
    padding: 0px;
  }
  .edit-template-section {
    display: flex;
  }
  .invaitor-name {
    text-align: center;
    font-size: 50px;
    /* font-family: "Satisfy", cursive; */
    margin-bottom: 15px;
    color: rgb(153, 49, 54);
    }
    .event-title-container {
    /* padding: 18px; */
    margin-bottom: 5px;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(153, 49, 54);
    max-width: 300px;
  }
  .event-name{
      padding: 10px;
    }
  
  .backround-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .backgroun-frame {
    display: flex;
    align-items: center;
    width: 350px;
    /* height: 480px; */
    border: 3px solid white;
    border-radius: 9px;
    margin: auto;
    padding:15px;
    
  }

  #nav {
    position: relative;
    padding: 0px;
  }
  .edit-template-section {
    display: flex;
  }

    .event-title-container {
    /* padding: 18px; */
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(153, 49, 54);
    max-width: 300px;
    }
    .short-description {
    /* background-color: rgb(153, 49, 54); */
    font-size: 12px;
    color: white;
    max-width: 300px;
    width: 100%;
    text-align: center;
  }
  .short-description-container {
    margin: 10px;
    padding: 10px;
    /* color: rgb(153, 49, 54); */
  }
  .short-description-container:hover {
    cursor: all-scroll;
  }

  .edit-template-section{
      display: flex;
      flex-direction: column;
  }
  .social-media-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 20px 10px;
    background-color: rgb(187, 185, 185);
    transition: background-color 0.5s;
  }
  .social-media-box:hover {
    cursor: pointer;
    background-color: #516fad;
  }
  