.first-template{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.template-container {
  background-image: url('https://i.pinimg.com/564x/b4/38/9c/b4389cbe1b5fc601c8526d9896969fe0.jpg');
  background-repeat: repeat;
  background-size: 600px 600px;
  display: flex;
  width: 400px;
  margin-top: 10px;
  padding:20px;
}

.backgroun-frame {
  display: flex;
  align-items: center;
  width: 350px;
  border: 3px solid white;
  border-radius: 9px;
  margin: auto;
  padding:15px;
}

.card-container {
  width: 320px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  margin: 0 auto;
}
